<!DOCTYPE html>
<html ng-app="app">

<head>
<!--  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">


<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
 

 
	  
     <link href="./js/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery-ui.min.js"></script>

     
<script src="./css/my.css"></script>
    <script src="./js/controller.js"></script>
 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
      


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
<meta charset=utf-8 />
<title></title>
</head>
<body>


<div ng-controller="CompanyCtrl">

 <div class="form-search" role="search">
 <form id="form_search" novalidate>
 <table width="75%">
 
  <tr>
   
    <td><label>Trade Date:</label> </td>
    <td><input type="text" datepicker1="" ng-model="filterFromDate"/></td>
    <td> <label>To:</label> </td>
    <td><input type="text" datepicker1=""  ng-model="filterTodate"/></td>
 </tr>
  
  <tr>
    <td><label>Subscriber:</label></td>
    <td><select ng-model="filterSubscriber" ng-options="x for x in Subscriber" /></td>
  	<td><label>RepoClear:</label></td>
  	<td><input type="checkbox"  ng-true-value="'YES'"   ng-false-value="'NO'" ng-model="filterRepo" /></td>  
  </tr>
  <tr> 
  	<td><label>Show Errors:</label></td>
  	<td><input type="checkbox"  ng-true-value="'ERR'" ng-model="filterError"/></td>
  	<td colspan=2>&nbsp;</td>
  </tr>
</table>
<div class="button">
  <button class="btn btn-primary" type="submit" ng-click="activateFilter()">Search</button> &nbsp;
  <button  class="btn btn-primary" type="reset" >CANCEL</button>
</div>
</form>
 <br>
 
	<div class="row">
					
			<div class="col-xs-6 col-md-4">
				<div  ng-if="activateFilter()!= '' && gridOpts.data.length > 0" class="grid"  ui-grid="gridOptions" ui-grid-pagination class="myGrid" 
						ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize ui-grid-edit> </div> 
				</div>

				</div>
	
			</div>
			
	

		
		</div>
</body>
    
 
   
   

</html>